.name {
  margin-left: 5%;
}

body {
  background-color: tan;
}

.top-bar {
  background-color: maroon;
  color: white;
}

.leftBump {
  margin-left: 5%;
}

h4 {
  color: black;
}
.entOptions {

}

.wraps {
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}
